/* Custom CSS */
blockquote {
    margin:0 auto 28px;
    padding:10px 10px;
    font-size: 90%;
    font-style: normal;
    line-height: 1.5em;
    color: #777;
    padding-left: 23px;
    /* background-image: url("/images/quotemarks.gif"); */
    /* background-repeat: no-repeat; */
    }

p {
    line-height: 1.5em;
    }

.header-widgets {
    display: none;
    }